/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(DroidNaskh-Regular.eot);
  src: url(DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(DroidNaskh-Regular.woff2) format('woff2'),
       url(DroidNaskh-Regular.woff) format('woff'),
       url(DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(DroidNaskh-Bold.eot);
  src: url(DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(DroidNaskh-Bold.woff2) format('woff2'),
       url(DroidNaskh-Bold.woff) format('woff'),
       url(DroidNaskh-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Vazir;
  src: url('vazir-font/Vazir.eot');
  src: url('vazir-font/Vazir.eot?#iefix') format('embedded-opentype'),
       url('vazir-font/Vazir.woff2') format('woff2'),
       url('vazir-font/Vazir.woff') format('woff'),
       url('vazir-font/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('vazir-font/Vazir-Bold.eot');
  src: url('vazir-font/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('vazir-font/Vazir-Bold.woff2') format('woff2'),
       url('vazir-font/Vazir-Bold.woff') format('woff'),
       url('vazir-font/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('vazir-font/Vazir-Light.eot');
  src: url('vazir-font/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('vazir-font/Vazir-Light.woff2') format('woff2'),
       url('vazir-font/Vazir-Light.woff') format('woff'),
       url('vazir-font/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('vazir-font/Vazir-Medium.eot');
  src: url('vazir-font/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('vazir-font/Vazir-Medium.woff2') format('woff2'),
       url('vazir-font/Vazir-Medium.woff') format('woff'),
       url('vazir-font/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('vazir-font/Vazir-Thin.eot');
  src: url('vazir-font/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('vazir-font/Vazir-Thin.woff2') format('woff2'),
       url('vazir-font/Vazir-Thin.woff') format('woff'),
       url('vazir-font/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}